.inline-block {
    display: inline-block;
    vertical-align: top;
}

nav {
    width: 73%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-left: auto;
}

#header1 {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.75rem;
}

#header2 {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#header3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#header4 {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#pText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#liText{
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
}

.alata-regular {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}